html,body{
    width: 100%;
    height: 100%;
}
body *{
    box-sizing:border-box;
    -webkit-transition: all 1.5s; /* Safari */
            transition: all 1.5s;
}
table{
    border-collapse:collapse;
    border-spacing: 0;
}
td{
    width: calc(100% / 6);
    height: calc(100% / 6);
    padding: 0;
}
table, tr{
    padding: 0;
    margin: 0;
    border: 0;
}
.column{
    height:  100%;
    padding: 2%;
}
.col-60{
    width: 60%;
}
.col-55{
    width: 55%;
}
.col-50{
    width: 50%;
}
.col-45{
    width: 45%;
}
.col-40{
    width: 40%;
}
.col-35{
    width: 35%;
}
.col-30{
    width: 30%;
}
.col-25{
    width: 25%;
}
.col-20{
    width: 20%;
}
.col-15{
    width: 15%;
}
.col-10{
    width: 10%;
}
.col-05{
    width: 5%;
}
.col-00{
    width: 0%;
}

/*-------------------------------*/
.col-w-13{
    width: calc(100% / 13);
}
.col-w-12{
    width: calc(100% / 12);
}
.col-h-12{
    height: calc(100% / 12);
}
.col-w-6{
    width: calc(100% / 6)
}
.col-h-6{
    height: calc(100% / 6);
}
.col-w-3{
    width: calc(100% / 3);
}
.col-h-3{
    height: calc(100% / 3);
}

@font-face {
    font-family: 'header';
    src: url('../fonts/GOTHICB.woff2') format('woff2'),
       url('../fonts/GOTHICB.woff') format('woff'),
       url('../fonts/GOTHICB.ttf')  format('truetype');
}

@font-face {
    font-family: 'body';
    src: url('../fonts/GOTHIC.woff2') format('woff2'),
       url('../fonts/GOTHIC.woff') format('woff'),
       url('../fonts/GOTHIC.ttf')  format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'body';
    src: url('../fonts/GOTHICB.woff2') format('woff2'),
       url('../fonts/GOTHICB.woff') format('woff'),
       url('../fonts/GOTHICB.ttf')  format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'body';
    src: url('../fonts/GOTHICI.woff2') format('woff2'),
       url('../fonts/GOTHICI.woff') format('woff'),
       url('../fonts/GOTHICI.ttf')  format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'body';
    src: url('../fonts/GOTHICBI.woff2') format('woff2'),
       url('../fonts/GOTHICBI.woff') format('woff'),
       url('../fonts/GOTHICBI.ttf')  format('truetype');
    font-weight: bold;
    font-style: italic;
}
h1,h2,h3,h4,h5,h6{
    font-family: header;
}

h1{
    font-size: 5em;
}
h2,h3,h4,h5,h6{
    font-size: 2em;
}
p{
    font-family: body;
}