.mainWrapper{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main{
    background-color: #fff;
    height: 100%;
    z-index: 1;
    -webkit-box-shadow: -1px 0px 10px 0px rgba(70,70,70,1);
    -moz-   box-shadow: -1px 0px 10px 0px rgba(70,70,70,1);
            box-shadow: -1px 0px 10px 0px rgba(70,70,70,1);
}
.info{
    position: relative;
    width: 60%;
    height: 100%;
}
.active .info{
    -webkit-box-shadow: -1px 0px 10px 0px rgba(70,70,70,1);
    -moz-   box-shadow: -1px 0px 10px 0px rgba(70,70,70,1);
            box-shadow: -1px 0px 10px 0px rgba(70,70,70,1);
}
.medianil{
    width: 0;
    padding: 0;
    margin: 0;
}
#logo{
    display: block;
    width: calc(100% - 100px);
    height: auto;
    margin: 0 50px;
    /*background: url(../img/logoA.png) bottom/contain no-repeat;*/
}
.active #logo{
    width: 70%;
    margin: 20px auto 100px auto;
    /*background:url(../img/logoB.png) center/contain no-repeat;*/
}
.active .medianil{
    width: 120px;
}
.active .info{
    width: calc(60% - 120px);
}
.photo{
    position: absolute;
    bottom: 0;
    right: 0;
    
    
    background: red;
    z-index: 1;
}
#nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: all;
}
.active #nav{
    /*width: 0;
    height: 100%;*/
    opacity: 0;
    pointer-events: none;
}
#nav table{
    width: 100%;
    height: 100%;
}
.nav{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
.active .nav{
    display: inline-flex;
    width: 100%;
    height: 20px;
    z-index: 2;
    opacity: 1;
    pointer-events: all;
    -webkit-box-shadow: 0px -7px 30px -3px rgba(0,0,0,0.5);
    -moz-   box-shadow: 0px -7px 30px -3px rgba(0,0,0,0.5);
            box-shadow: 0px -7px 30px -3px rgba(0,0,0,0.5);
}
.nav:hover{
    height: 10%;
}
.menu{
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.nav .menu{
    padding: 10px;
    height: 100%;
}
.menu:hover{
    padding: 0;
}
.menu:hover .icon{
    width: 120%;
    height: 120%;
    margin: -10%;
    transform-origin: center;
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
            transform: rotate(-7deg);
}
.menu .icon{
    width: 90%;
    height: 90%;
    margin: 5%;
}
.estela{
    background-color: rgba(37, 176, 230,1);
}
#nav .estela .icon{
    background:  url(../img/estelaB.png) center center/contain no-repeat;
}
.nav .estela .icon{
    background:  url(../img/estelaA.png) center center/contain no-repeat;
}
.pleno_{
    background-color: #5c6eb2;
}
.nav .pleno_ .icon,#nav .pleno_ .icon{
    background:  url(../img/plenoA.png) center center/contain no-repeat;    
}
.eAtack{
    background-color: #8a4f9e;
}
.nav .eAtack .icon, #nav .eAtack .icon{
    background: url(../img/eAtackA.png) center center/contain no-repeat;    
}
.libroM{
    background-color: #ccc;
}
.nav .libroM .icon, #nav .libroM .icon{
    background: url(../img/libroMA.png) center center/contain no-repeat;    
}
.rCtoon{
    background-color: #8fc73d;
}
.nav .rCtoon .icon, #nav .rCtoon .icon{
    background: url(../img/rCartoonsA.png) center center/contain no-repeat;    
}
.bEnRed{
    background-color: #f26b61;
}
.nav .bEnRed .icon, #nav .bEnRed .icon{
    background: url(../img/bEnRedA.png) center center/contain no-repeat;    
}
.lEnRed{
    background: #f26522;
}
.nav .lEnRed .icon, #nav .lEnRed .icon{
    background: url(../img/lEnRedA.png) center center/contain no-repeat;    
}
.teachN{
    background: #e33142;
}
.nav .teachN .icon, #nav .teachN .icon{
    background: url(../img/teachNA.png) center center/contain no-repeat;    
}
.libroC{
    background-color: #eaeded;
}
.nav .libroC .icon, #nav .libroC .icon{
    background: url(../img/libroCA.png) center center/contain no-repeat;    
}
.digiBo{
    background: #e8e512;
}
.nav .digiBo .icon, #nav .digiBo .icon{
    background: url(../img/digiBoA.png) center center/contain no-repeat;    
}
.inever{
    background-color: #fff;
}
.nav .inever .icon, #nav .inever .icon{
    background: url(../img/inveryA.png) center center/contain no-repeat;    
}
.libWeb{
    background: #ccc;
}
.nav .libWeb .icon, #nav .libWeb .icon{
    background: url(../img/libWebA.png) center center/contain no-repeat;    
}


/*---------------------------------------------------------------*/
/*-------------------------contenido-----------------------------*/
/*---------------------------------------------------------------*/

.estela .medianil{
    background: #25b0e6 url(../img/estelaB.png) center center/contain no-repeat;
}
.pleno_ .medianil{
    background: #5c6eb2 url(../img/plenoB.png) center center/contain no-repeat;    
}
.eAtack .medianil{
    background: #8a4f9e url(../img/eAtackB.png) center center/contain no-repeat;    
}
.libroM .medianil{
    background: #ccc url(../img/libroMB.png) center center/contain no-repeat;    
}
.rCtoon .medianil{
    background: #8fc73d url(../img/rCartoonsB.png) center center/contain no-repeat;    
}
.bEnRed .medianil{
    background: #f26b61 url(../img/bEnRedB.png) center center/contain no-repeat;    
}
.lEnRed .medianil{
    background: #f26522 url(../img/lEnRedB.png) center center/contain no-repeat;    
}
.teachN .medianil{
    background: #e33142 url(../img/teachNB.png) center center/contain no-repeat;    
}
.libroC .medianil{
    background: #eaeded url(../img/libroCB.png) center center/contain no-repeat;    
}
.digiBo .medianil{
    background: #e8e512 url(../img/digiBoB.png) center center/contain no-repeat;    
}
.inever .medianil{
    background: #fff url(../img/inveryB.png) center center/contain no-repeat;    
}
.libWeb .medianil{
    background: #ccc url(../img/libWebB.png) center center/contain no-repeat;    
}


/*-----------------------------------------------------------------*/


.estela .photo{
    background: url(../img/estelaB.png) center center/contain no-repeat;
}
.pleno_ .photo{
    background: url(../img/plenoB.png) center center/contain no-repeat;    
}
.eAtack .photo{
    background: url(../img/eAtackB.png) center center/contain no-repeat;    
}
.libroM .photo{
    background: url(../img/libroMB.png) center center/contain no-repeat;    
}
.rCtoon .photo{
    background: url(../img/rCartoonsB.png) center center/contain no-repeat;    
}
.bEnRed .photo{
    background: url(../img/bEnRedB.png) center center/contain no-repeat;    
}
.lEnRed .photo{
    background: url(../img/lEnRedB.png) center center/contain no-repeat;    
}
.teachN .photo{
    background: url(../img/teachNB.png) center center/contain no-repeat;    
}
.libroC .photo{
    background: url(../img/libroCB.png) center center/contain no-repeat;    
}
.digiBo .photo{
    background: url(../img/digiBoB.png) center center/contain no-repeat;    
}
.invery .photo{
    background: url(../img/inveryB.png) center center/contain no-repeat;    
}
.libWeb .photo{
    background: url(../img/libWebB.png) center center/contain no-repeat;    
}

.non-select {
    background-color: red;
    border: 1px solid blue;
}

.back {
    background: #dfdfdf url(../img/back.png) center center/contain no-repeat; 
}

/*----------------------------------------------*/

/*
.estela .estela{
    background: rgba(37, 176, 230,0.2);
}
.pleno_ .pleno_{
    background: #5c6eb2 url(../img/plenoA.png) center center/contain no-repeat;    
}
.eAtack .eAtack{
    background: #8a4f9e url(../img/eAtackA.png) center center/contain no-repeat;    
}
.libroM .libroM{
    background: #ccc url(../img/libroMA.png) center center/contain no-repeat;    
}
.rCtoon .rCtoon{
    background: #8fc73d url(../img/rCartoonsA.png) center center/contain no-repeat;    
}
.bEnRed .bEnRed{
    background: #f26b61 url(../img/bEnRedA.png) center center/contain no-repeat;    
}
.lEnRed .lEnRed{
    background: #f26522 url(../img/lEnRedA.png) center center/contain no-repeat;    
}
.teachN .teachN{
    background: #e33142 url(../img/teachNA.png) center center/contain no-repeat;    
}
.libroC .libroC {
    background: #eaeded url(../img/libroCA.png) center center/contain no-repeat;    
}
.digiBo .digiBo{
    background: #e8e512 url(../img/digiBoA.png) center center/contain no-repeat;    
}
.inever .inever{
    background: #ffffff url(../img/inveryA.png) center center/contain no-repeat;    
}
.libWeb .libWeb{
    background: #cccccc url(../img/libWebA.png) center center/contain no-repeat;    
}
*/
