.mainWrapper{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
}
.main{
    background-color: #fff;
    height: 100%;
    z-index: 1;
    -webkit-box-shadow: -1px 0px 10px 0px rgba(70,70,70,1);
    -moz-   box-shadow: -1px 0px 10px 0px rgba(70,70,70,1);
            box-shadow: -1px 0px 10px 0px rgba(70,70,70,1);
}
.info{
    width: 60%;
    height: 100%;
    background-color: cornflowerblue;
}
.medianil{
    width: 0%;
}
#logo{
    width: 75%;
    height: 200px;
    margin: 10px auto;
}
.active #logo{
    width: 90%;
}
.active .medianil{
    width: 120px;
}
.active .info{
    width: calc(60% - 120px);
}
.photo{
    position: absolute;
    bottom: 0;
    right: 0;
    
    
    background: red;
    z-index: 1;
}

/*---------------------------------------------------------------*/
/*-------------------------contenido-----------------------------*/
/*---------------------------------------------------------------*/

.estela .medianil{
    background: #25b0e6 url(../img/estelaB.png) center center/contain no-repeat;
}
.pleno_ .medianil{
    background: #5c6eb2 url(../img/plenoB.png) center center/contain no-repeat;    
}
.eAtack .medianil{
    background: #8a4f9e url(../img/eAtackB.png) center center/contain no-repeat;    
}
.libroM .medianil{
    background: #ccc url(../img/libroMB.png) center center/contain no-repeat;    
}
.rCtoon .medianil{
    background: #8fc73d url(../img/rCartoonsB.png) center center/contain no-repeat;    
}
.bEnRed .medianil{
    background: #f26b61 url(../img/bEnRedB.png) center center/contain no-repeat;    
}
.lEnRed .medianil{
    background: #f26522 url(../img/lEnRedB.png) center center/contain no-repeat;    
}
.teachN .medianil{
    background: #e33142 url(../img/teachNB.png) center center/contain no-repeat;    
}
.libroC .medianil{
    background: #eaeded url(../img/libroCB.png) center center/contain no-repeat;    
}
.digiBo .medianil{
    background: #e8e512 url(../img/digiBoB.png) center center/contain no-repeat;    
}
.invery .medianil{
    background: #fff url(../img/inveryB.png) center center/contain no-repeat;    
}
.libWeb .medianil{
    background: #ccc url(../img/libWebB.png) center center/contain no-repeat;    
}


/*-----------------------------------------------------------------*/


.estela .photo{
    background: url(../img/estelaB.png) center center/contain no-repeat;
}
.pleno_ .photo{
    background: url(../img/plenoB.png) center center/contain no-repeat;    
}
.eAtack .photo{
    background: url(../img/eAtackB.png) center center/contain no-repeat;    
}
.libroM .photo{
    background: url(../img/libroMB.png) center center/contain no-repeat;    
}
.rCtoon .photo{
    background: url(../img/rCartoonsB.png) center center/contain no-repeat;    
}
.bEnRed .photo{
    background: url(../img/bEnRedB.png) center center/contain no-repeat;    
}
.lEnRed .photo{
    background: url(../img/lEnRedB.png) center center/contain no-repeat;    
}
.teachN .photo{
    background: url(../img/teachNB.png) center center/contain no-repeat;    
}
.libroC .photo{
    background: url(../img/libroCB.png) center center/contain no-repeat;    
}
.digiBo .photo{
    background: url(../img/digiBoB.png) center center/contain no-repeat;    
}
.invery .photo{
    background: url(../img/inveryB.png) center center/contain no-repeat;    
}
.libWeb .photo{
    background: url(../img/libWebB.png) center center/contain no-repeat;    
}
